* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #f7f7f7;
	align-content: center;
	color: #ffffff;
}

/* h1 {
	color: white;
} */
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: lightslategray;
}

.header-container {
	width: 100%;
	background-color: #007a7c;
	text-align: center;
	padding: 20px 0;
	box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
}

.logo {
	width: 20%;
	height: 100%;
}

.about-page {
	width: 80%;
	margin: 0 auto;
}

#content-wrap {
	text-align: center;
	word-wrap: break-word;
	margin: 1em 0;
	position: relative;
}

.navigation {
	display: flex;
	justify-content: center;
	margin: 0;
}

.nav_item {
	list-style: none;
}

.nav_item + .nav_item {
	padding-left: 2em;
}

.nav_link {
	text-decoration: none;
	position: relative;
	color: #fff;
	letter-spacing: 3px;
	font-weight: 600;
	padding: 0;
}

.nav_link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.nav_link:hover {
	color: #fff;
	text-decoration: none;
}

.nav_link:hover::before {
	visibility: visible;
	width: 100%;
}

/* Form */

form {
	padding: 2em;
	align-items: left;
	align-self: left;
	text-align: left;
	width: 70%;
	margin: 0 auto;
}

label {
	font-weight: 500;
}

textarea:focus,
input:focus {
	outline: none;
}

input,
textarea,
select,
.custom-file-label,
#recording {
	border: 1px solid #007a7c !important;
}

/*name adding */

.nickname-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nickname-title p {
	margin: 0;
}

.nickname-photo {
	color: #007a7c;
	margin-right: 0.5em;
	cursor: pointer;
	font-size: 2em;
}

.nickname-add {
	display: none;
}

.middlename-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.middlename-title p {
	margin: 0;
}

.middlename-photo {
	color: #007a7c;
	margin-right: 0.5em;
	cursor: pointer;
	font-size: 2em;
}

.middlename-add {
	display: none;
}


.lastname-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.lastname-title p {
	margin: 0;
}

.lastname-photo {
	color: #007a7c;
	margin-right: 0.5em;
	cursor: pointer;
	font-size: 2em;
}

.lastname-add {
	display: none;
}

#recording {
	color: #495057;
	width: 100%;
	box-shadow: none;
	background-color: white;
	cursor: pointer;
}

#recording:hover {
	background-color: #007a7c;
	color: #fff;
}

#submit-btn {
	height: 50px;
	border-radius: 5px;
	border: 2px solid #007a7c;
	background-color: #007a7c;
	color: #fff;
	padding: 0 1em;
}

#submit-btn:hover {
	opacity: 0.8;
}
/* Image Upload */

.image-upload--container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 0;
}
.first-name-error,
.last-name-error {
	display: none;
	font-size: 1em;
}

/*hide scrollbar*/
/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE and Edge */
.noscrollbar {
	-ms-overflow-style: none;
}

/* Download Button */

.download-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: #007a7c;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	margin: 1em auto;
}

.download-container:hover {
	opacity: 0.7;
	transform: scale(1.1);
	transition: ease-out 300ms;
}

.download-button {
	font-size: 4em;
	color: #fff;
}

/* Footer */

.footer-container {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	height: 100%;
	background-color: #007a7c;
	color: white;
	height: 6.5rem;
	width: 100%;
	box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);

	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}
.about-page-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-navbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	margin: 0 auto;
}

.footer-navbar a {
	padding: 0 2em;
}

.social-icons {
	font-size: 3em;
	display: inline-block;
	position: relative;
	bottom: 0;
	display: flex;
	cursor: pointer;
	color: #fff;
}

.social-icons a {
	text-decoration: none;
}

.social-icons:hover {
	opacity: 0.8;
	color: #fff;
	transform: scale(1.2);
	transition: ease-out 200ms;
}

.switch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.switch-container p {
	font-size: 1em;
	margin: 0;
}

/* Switch - Dark Mode */

.switch-toggle {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
	margin: 0 0 0.1em;
}

.switch-toggle input {
	display: none;
}

.slider {
	background-color: rgb(245, 236, 236);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #007a7c;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked + .slider {
	background-color: rgb(245, 236, 236);
}

input:checked + .slider:before {
	transform: translateX(26px);
	background-color: #262a3c;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.dark-mode {
	background-color: #262a3c;
	color: white;
}

/*display cards*/
.display-card {
	align-self: center;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 74%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 0.5%;
	margin-top: 2%;
	display: inline-block;
}
.card-image-top {
	width: 100%;
	border-radius: 5px 5px 0 0;
	margin-bottom: 2px;
}

.display-card-body {
	padding: 2px 6px;
}

.flex-container {
	display: flex;
	text-align: center;
}
/*adapt to small screens */

/*for small screens*/

@media only screen and (max-width: 500px) {
	#header {
		height: 100px;
		font-size: large;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#footer-css {
		height: 20px;
		font-size: small;
		padding-top: 10px;
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: #007a7c;
		display: flex;
		flex-direction: row;
	}

	#content-wrap {
		padding-top: 120px; /*header height */
		padding-bottom: 120px; /* Footer height */
		padding-left: 150px;
		padding-right: 150px;
	}
	ul {
		align-self: center;
		padding: 0;
		display: flex;
		text-align: center;
		width: 100vw;
		font-size: smaller;
		display: inline-block;
	}
}

#replay {
	visibility: hidden;
	width: 39%;
	float: right;
	border: none;
	color: white;

	box-shadow: none;
	background-color: #007a7c;
}
