body {
	background-color: whitesmoke;
}
h1 {
	color: salmon;
}
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: salmon;
}
h5 {
	color: lightslategray;
}
p {
	color: black;
}
footer {
	color: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



#header {
	height: 120px;
	width: 100%;
	background-color: white;
	color: lightslategray;
	font-size: larger;
	text-align: center;
	border: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-self: center;
	top: 0;
	left: 0px;
	right: 0px;
  position: absolute;

  
}
#content-wrap {
  padding-top: 250px; /*header height */
  padding-bottom: 20px;    /* Footer height */
}

/*bullets and links for header */
ul {
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	display: inline-block;
}

li {
	list-style-type: none;
	margin: 0 3vw;
	padding: 0;
	display: inline-block;
	text-align: center;
}

ul li a {
	display: inline-block;
	position: relative;
	display: block;
}

ul li a:link {
	color: salmon;
	text-decoration: none;
}

ul li a:visited {
	color: salmon;
	text-decoration: none;
}

ul li a:hover {
	color: slategrey;
}

ul li a:active {
	color: salmon;
	text-decoration: none;
}

/* Form - Image Upload */

form {
	padding: 2em;
}

.image-upload--container {
	position: relative;
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

#btn-upload {
	margin: 1em 0;
	background-color: salmon;
}
