<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Get My Name Right</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
<body class="noscrollbar">
    <div id="content-wrap">
    <!-- header and nav bar -->    
    <div id="header"><h1 class="header">Nomi</h1>
      <h7><i>get my name right</i></h7>
      <br>
      <nav>
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
          <li  class="current-page">
              <a href="/about">About</a>
          </li>
      </ul>
      </nav>
    </div>
    <!-- end of header and nav bar --> 

<div>
<br>

      <h2>About us</h2>
      <p>
        Our goal is to promote diversity and inclusion in society.
        <br>
        We strongly believe the first step to do this is by getting someone's name right.
        This app will help you to identify how a person's name is pronounced correctly.
        <br><br>
        <b>Nomi</b> encourages you to celebrate diversity by doing this in an educational and accessible way, with the help of audio recordings and braille alongside information about name origins, meanings and heritage.
      </p>
      <h4>Authors</h4>
      <p> Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma & Maggie Hunt </p>

    </div>    </div>

        <!-- Footer -->

  <footer class="w3-container w3-medium w3-padding-20 w3-center w3-gray w3-xlarge">


    <div class="footer-container">
      
      <div class="dropdown">
        <a onclick="myFunction()"  onmouseout="clearShare()" class="dropbtn"><img class="share-photo" src="/static/images/share.png" alt="share"></a>
        <div id="myDropdown" class="dropdown-social">
          <div class="dropdown-content2">
            <a href="#"><img src="/static/images/insta.png" alt="instagram"></a>
            <a href="#"><img src="/static/images/twitter.png" alt="twitter"></a>
            <a href="#"><img src="/static/images/facebook.png" alt="facebook"></a>
          </div>
        </div>
      </div>
    
      <!-- <a href="#"><img src="/static/images/share.png" alt="share"></a> -->

      <div class="zoom-inout"> 
        <a href="#"><img src="/static/images/minus.png" alt="zoom out"></a>
        <a href="#"><img src="/static/images/plus.png" alt="zoom in"></a>
      </div>
      
      <div class="switch-container">
        <label class="switch-toggle" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
        <p>Enable Dark Mode</p>
      </div>

   
</footer>


</div>

</body>

</html>