<!DOCTYPE html>
<html>
  <head>
    <title>About</title>

    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="HTML" href="/Users/s.a.muna/Documents/CFG_Diversity_Hackathon/name_app/templates/user_input_page.html">
    <link rel="HTML" href="/Users/s.a.muna/Documents/CFG_Diversity_Hackathon/name_app/templates/user_input_page.html">

    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name should be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">

 </head>

 <body>
    <!-- header and nav bar -->
    <div id="header"><h1 class="header">Nomi</h1>
      <h7><i>get my name right</i></h7>
      <br>
      <nav>
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
          <li class="current-page">
              <a href="/about">About</a>
          </li>
      </ul>
      </nav>
    </div>
    <!-- end of header and nav bar -->
    <!-- body -->
    <div id="body"><h1 class="body">About us</h1>
      <hr>
      <p>Our mission is to achieve diversity and inclusion in the society. We strongly believe the first step towards inclusion is by getting someone's name right. <br> This app will help you to identify how a person's name is pronounced correctly with the help of audio recordings alongside with meanings and braille. All you have to do is to simply create a profile by filling in the online form. Record your name and surname. Customise what features you want to display and violà! Your Nomi profile is ready to use!</p>
      <br>
      <h3>Authors</h3>
      <br>
      <p> Isabel Scavetta <br> Mio Chung <br> Sumayia Ashraf <br> Teodora Toma <br> Maggie Hunt</p>
    </div>

        <!-- Footer -->
<footer style="background-color:hsla(9, 100%, 64%, 0.5);">
    <a>Social media</a>
      <button type="button">Facebook</button> <button type="button">Instagram</button> <button type="button">Snapchat</button> <button type="button">Twitter</button> <button type="button">Gmail</button>
    <a>Dark mode</a><button type="button">Dark/Light</button>
</footer>
</body>
</html>
