<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Get My Name Right</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
<body class="noscrollbar">
  <div id="content-wrap">
  <!-- header and nav bar -->    
  <div class="header-container"><h1>Nomi</h1>
    <h7><i>get my name right</i></h7>
    <br>
    <nav>
    <ul class="navigation">
        <li class="current-page">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
    </nav>
  </div>
    <!-- end of header and nav bar --> 

<br>
{% if NickName %}
    <div class="display-card">
<div class="display-card-body">
<i>I go by</i> <h2>{{NickName}}</h2>
<h5>{{NickNamePronunciation}} 
</h5>

{% else %} {% endif %}

<div class="display-card">       <div class="display-card-body">
  {% if NickName %}<i>and my name is</i> {% else %} {% endif %}
<h2>{{FirstName}}
  {% if LastName %}  {{LastName}}</h2>{% else %} {% endif %}

<h5>
 
  {{FirstNamePronunciation}} 
  
  {% if LastName %} 
  - {{LastNamePronunciation}}
{% else %} {% endif %}
</h5>

{% if Gender %}<p>{{Gender}}</p>{% else %}
{% endif %}
{% if NameRecording %}
    <audio id="NameRecording">
      <source src="{{NameRecording}}" type="audio/ogg">
    </audio>
    <img src="/static/images/play-icon-vector.jpg" alt="Play Recording" onclick="playAudio()" width="15%" height="auto">
    {% else %} {% endif %}</div></div>
  </div>
</div>

    <div class="display-card">
      {% if FirstNameImage %}<img src="..." class="card-image-top" alt="Image of how to write my First Name">
      <!-- <img src="data:image, {{ FirstNameImage }}"> --> {% else %} {% endif %}
      <div class="display-card-body">
        {% if LastName %} <h5>{{FirstName}}</h5>{% else %} {% endif %}
<i>Origin and meaning</i>
<br>
{{FreeTextContentFirstName}}
</p>      </div>
    </div>
    {% if LastName %}
    <div class="display-card">
      {% if LastNameImage %} <img src="..." class="card-image-top" alt="Image of how to write my Last Name">
<!-- <img src="data:image, {{ LastNameImage }}"> -->{% else %} {% endif %}

<div class="display-card-body">
<h5>{{LastName}}</h5>
<i>Origin and meaning</i>
<br>
{{FreeTextContentLastName}}
</p></div>

</div>

{% else %} {% endif %}
</div>
</div>
             <!-- Footer -->
<footer class="footer-css w3-medium w3-padding-20 w3-center w3-gray w3-xlarge">
  <div class="footer-container">
    <div class="social-container">
      <a><i class="social-icons fas fa-share-alt sharebtn"></i></a>
    </div>
    <div class="footer-navbar">
      <a href="#"><i class="social-icons fab fa-instagram"></i></a>
      <a href="#"><i class="social-icons fab fa-twitter"></i></a>
      <a href="#"><i class="social-icons fab fa-facebook"></i></a>
    </div>
               
              <!-- <button class="btn btn-primary btn-social" id="btn-share" data-toggle="tooltip" data-placement="left" title="Tooltip on left"> -->
             
                
    <div class="zoom-inout"> 
      <a href="#"><i class="social-icons fas fa-minus-circle"></i></a>
      <a href="#"><i class="social-icons fas fa-plus-circle"></i></a>
    </div>
                
    <div class="switch-container">
      <label class="switch-toggle" for="checkbox">
        <input onclick="darkmodeToggle()" type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
      <p>Enable Dark Mode</p>
    </div>
              
          
   </div>
</footer>
</body>

<script src="/static/js/name_app_javascript.js"></script>
</html>