<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Get My Name Right</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
<body class="noscrollbar">
    <div id="content-wrap">
    <!-- header and nav bar -->    
    <div id="header"><h1 class="header">Nomi</h1>
      <h7><i>get my name right</i></h7>
      <br>
      <nav>
      <ul>
          <li class="current-page">
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/about">About</a>
          </li>
      </ul>
      </nav>
    </div>
    <!-- end of header and nav bar --> 


<br>
<div class="display-card"">       <div class="display-card-body">
<h2>{{FirstName}} {{LastName}}</h2>

<h5>
 
  {{FirstNamePronounciation}} - {{LastNamePronounciation}}</h5>

    <p>{{Gender}}</p>
  </div>
</div>
    <div class="display-card"">
      <img src="..." class="card-image-top" alt="Image of how to write my First Name">
      <!-- <img src="data:image, {{ FirstNameImage }}"> -->
      <div class="display-card-body">
<h5>{{FirstName}}</h5>
<i>Origin and meaning</i>
<br>
{{FreeTextContentFirstName}}
</p>      </div>
    </div>
    <div class="display-card"">
      <img src="..." class="card-image-top" alt="Image of how to write my First Name">
<!-- <img src="data:image, {{ LastNameImage }}"> -->
<div class="display-card-body">
<h5>{{LastName}}</h5>
<i>Origin and meaning</i>
<br>
{{FreeTextContentLastName}}
</p></div>
</div>
</div>
</div>
     <!-- Footer -->

  <footer class="w3-container w3-medium w3-padding-20 w3-center w3-gray w3-xlarge">


    <div class="footer-container">
      
      <div class="dropdown">
        <a onclick="myFunction()"  onmouseout="clearShare()" class="dropbtn"><img class="share-photo" src="/static/images/share.png" alt="share"></a>
        <div id="myDropdown" class="dropdown-social">
          <div class="dropdown-content2">
            <a href="#"><img src="/static/images/insta.png" alt="instagram"></a>
            <a href="#"><img src="/static/images/twitter.png" alt="twitter"></a>
            <a href="#"><img src="/static/images/facebook.png" alt="facebook"></a>
          </div>
        </div>
      </div>
    
      <!-- <a href="#"><img src="/static/images/share.png" alt="share"></a> -->

      <div class="zoom-inout"> 
        <a href="#"><img src="/static/images/minus.png" alt="zoom out"></a>
        <a href="#"><img src="/static/images/plus.png" alt="zoom in"></a>
      </div>
      
      <div class="switch-container">
        <label class="switch-toggle" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
        <p>Enable Dark Mode</p>
      </div>

   
</footer>


</div>

</body>

</html>