<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Input</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    
    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
<body class="noscrollbar">

<!-- header and nav bar -->  
<header class="header-container">
  <img class="logo" src="/static/images/logo-nomi.png" alt="nomi logo">
  <br>
  <nav>
  <ul class="navigation">
    <li class="nav_item"><a class="nav_link" href="/">HOME</a></li>
    <li class="nav_item"><a class="nav_link" href="/about">ABOUT</a></li>
  </ul>
  </nav>
</header>
<!-- end of header and nav bar --> 

  
    
    <!-- form-->
<section id="content-wrap"> 
<div class="content-wrap"><br>  <br>
  <p>Use the form below to submit information about your name.</p></div>
    <form form method="post" action="/results" onsubmit="return results_page()" id="user_details_form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="selectGender">Please select your pronouns (optional)</label>
        <select class="form-control" id="selectGender" name="selectGender">
          <option></option>
          <option>she/her/hers</option>
          <option>he/him/his</option>
          <option>they/them/their</option>
        </select>
      </div>

      <!--First Name input-->
      <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="string" class="form-control shadow-none" id="FirstName" name="FirstName" placeholder="Enter your first name here - be that your family name or given name!" required>
      </div>
      <div class="form-group"><label for="FirstNameImage">Upload an image of how to write your first name (optional)</label>
        <label for="">MAX UP TO 2MB</label>
        <div class="custom-file image-upload--container">
          <input type="file" onchange='validateFirstName(this)' id="FirstNameImage" class="custom-file-input shadow-none" name="FirstNameImage">
          <label id="FirstNameLabel" class="custom-file-label" for="FirstNameImage">Select image...</label>
        </div></div>
        <div class="alert alert-primary first-name-error"></div>
      <div class="form-group" >
        <label for="FirstNamePronunciation">First Name Pronunciation</label>
        <input type="string" class="form-control shadow-none" id="FirstNamePronunciation" name="FirstNamePronunciation" placeholder="e.g. mar-i-lin" required>
      </div>
      <div class="form-group">
        <label for="FirstNameFreeTextContent">Further information about your first name</label>
        <textarea class="form-control shadow-none" id="FirstNameFreeTextContent" rows="3" name="FirstNameFreeTextContent" placeholder="e.g. are you named after a famous person? Does your name have origins in a particular language or tradition? What does it mean?"></textarea>
      </div>

<!--NickName input-->
      <div class="form-group">
        <label for="NickName">Do you go by another name?</label>
        <input type="string" class="form-control shadow-none" id="NickName" name="NickName" placeholder="What is your preferred name / nickname?">
      </div>
      <div class="form-group" >
        <label for="NickNamePronunciation">Preferred Name Pronunciation</label>
        <input type="string" class="form-control shadow-none" id="NickNamePronunciation" name="NickNamePronunciation" placeholder="e.g. lin">
      </div>   

<!--Middle Name input-->
      <div class="form-group">
        <label for="MiddleName">Middle Name</label>
        <input type="string" class="form-control shadow-none" id="MiddleName" name="MiddleName" placeholder="Enter your Middle name here - be that your family name or given name!" required>
      </div>
      <div class="form-group"><label for="MiddleNameImage">Upload an image of how to write your Middle name (optional)</label>
        <label for="">MAX UP TO 2MB</label>
        <div class="custom-file image-upload--container">
          <input type="file" onchange='validateMiddleName(this)' id="MiddleNameImage" class="custom-file-input shadow-none" name="MiddleNameImage">
          <label id="MiddleNameLabel" class="custom-file-label" for="MiddleNameImage">Select image...</label>
        </div></div>
        <div class="alert alert-primary Middle-name-error"></div>
      <div class="form-group" >
        <label for="MiddleNamePronunciation">Middle Name Pronunciation</label>
        <input type="string" class="form-control shadow-none" id="MiddleNamePronunciation" name="MiddleNamePronunciation" placeholder="e.g. mar-i-lin" required>
      </div>
      <div class="form-group">
        <label for="MiddleNameFreeTextContent">Further information about your Middle name</label>
        <textarea class="form-control shadow-none" id="MiddleNameFreeTextContent" rows="3" name="MiddleNameFreeTextContent" placeholder="e.g. are you named after a famous person? Does your name have origins in a particular language or tradition? What does it mean?"></textarea>
      </div>

<!--Last Name input-->
      <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="string" class="form-control shadow-none" id="LastName" name="LastName" placeholder="Enter your last name here">
      </div>


      <div class="form-group">
        <label for="LastNameImage">Upload an image of how to write your last name (optional)</label>
        <label for="">MAX UP TO 2MB</label>
      <div class="custom-file image-upload--container">
        <input onchange='validateLastName(this)' type="file" id="LastNameImage" class="custom-file-input shadow-none" name="LastNameImage">
        <label id="LastNameLabel"  class="custom-file-label" for="LastNameImage">Select image...</label>
        
    </div></div>
    <div class="alert alert-primary last-name-error"></div>


      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name Pronunciation</label>
        <input type="string" class="form-control shadow-none" id="LastNamePronunciation" name="LastNamePronunciation" placeholder="e.g. mon-ro">
      </div>
      <div class="form-group">
        <label for="LastNameFreeTextContent">Further information about your last name</label>
        <textarea class="form-control shadow-none" id="LastNameFreeTextContent" rows="3" name="LastNameFreeTextContent"></textarea>
      </div>
  
      <!-- <label for="ImageUpload">Upload Image</label>
      <div class="image-upload--container">
        <input type="file" id="file-btn" class="custom-file-input" name="LastNameImage">
        <label id="custom-text" class="custom-file-label" for="image">Select image...</label>
        <button id="btn-upload" type="button" class="btn btn-sm">Upload image</button>   
        <p class="HTMLmessage">Message: {{ message_submit|safe }}</p>
      </div> -->
      <div class="form-group">
      <label for="NameRecording">Upload a recording of you saying your name here (optional)</label>
      <div class="custom-file image-upload--container">
        <button id="recording" class="btn btn-secondary" type="button" onclick="startR()">Start Recording</button>
        <input id="replay" class="btn btn-secondary shadow-none" type="button" value="PLAY" onclick="play()">
        <audio id="recordedAudio" src=""></audio>
        <input type="hidden" class="form-control shadow-none" id="NameRecording" name="NameRecording" value="">
      </div></div>

      <!-- <div class="form-group">
        <label for="LastNameRecording">Upload a recording of you saying your last name here (optional)</label>
        <input type="file" class="form-control-file" id="LastNameRecording" name="LastNameRecording">
      </div> -->

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="ConsentUnderStand" required>
        <label class="form-check-label" for="ConsentUnderStand" name="ConsentUnderStand" required>I understand that my data will be stored locally.</label>
      </div>
      <button type="submit" id="submit-btn" >Submit</button>
    </form>
    <br><br><br><br><br><br>
  </div>

</section>
  <!-- Footer -->


  <footer class="footer-css w3-medium w3-padding-20 w3-center w3-gray w3-xlarge">
    <div class="footer-container">

      <div class="social-container">
        <a><i class="social-icons fas fa-share-alt sharebtn"></i></a>
      </div>
        <div class="footer-navbar">
            <a href="#"><i class="social-icons fab fa-instagram"></i></a>
            <a href="#"><i class="social-icons fab fa-twitter"></i></a>
            <a href="#"><i class="social-icons fab fa-facebook"></i></a>
        </div>
     
    <!-- <button class="btn btn-primary btn-social" id="btn-share" data-toggle="tooltip" data-placement="left" title="Tooltip on left"> -->
   
      
        <div class="zoom-inout"> 
          <a href="#"><i class="social-icons fas fa-minus-circle"></i></a>
          <a href="#"><i class="social-icons fas fa-plus-circle"></i></a>
        </div>
      
        <div class="switch-container">
          <label class="switch-toggle" for="checkbox">
            <input onclick="darkmodeToggle()" type="checkbox" id="checkbox" />
            <div class="slider round"></div>
          </label>
          <p>Enable Dark Mode</p>
        </div>
     </div>

    </div>
</footer></div>

</body>
<script src="/static/js/name_app_javascript.js"></script>
</html>