<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Input</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
    <!-- scripts-->
    <script src="../static/js/name_app_javascript.js"></script>

    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
  <body>
    <div id="content-wrap">
    <!-- header and nav bar -->    
    <div id="header"><h1 class="header">Nomi</h1>
      <h7><i>get my name right</i></h7>
      <br>
      <nav>
      <ul>
          <li class="current-page">
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/about">About</a>
          </li>
      </ul>
      </nav>
    </div>
    <!-- end of header and nav bar --> 

    <!-- image upload - to move!-->
    



    <!-- form-->
<div><p>Use the form below to submit information about your name.</p></div>
    <form form method="post" action="/results" onsubmit="return results_page()" id="user_details_form">
      <div class="form-group">
        <label for="selectGender">Example select</label>
        <select class="form-control" id="selectGender" name="selectGender">
          <option>she/her/hers</option>
          <option>he/him/his</option>
          <option>they/them/their</option>
        </select>
      </div>
      <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="string" class="form-control" id="FirstName" name="FirstName" placeholder="Enter your first name here - be that your family name or given name!" required>
      </div>
      <div class="form-group" >
        <label for="FirstNamePronounciation">First Name Pronunciation</label>
        <input type="string" class="form-control" id="FirstNamePronounciation" name="FirstNamePronounciation" placeholder="e.g. mar-i-lin" required>
      </div>
 
        <form method="POST" enctype="multipart/form-data"> 
          <div class="image-upload--container">
            <input type="file" id="file-btn" class="custom-file-input" name="image">
            <label id="custom-text" class="custom-file-label" for="image">Select image...</label>
            <button id="btn-upload" type="button" class="btn btn-sm">Upload image</button>
          </div>
        </form>
 
      
      <div class="form-group">
        <label for="FirstNameRecording">Upload a recording of you saying your last name here (optional)</label>
        <input type="file" class="form-control-file" id="FirstNameRecording" name="FirstNameRecording">
      </div>
      <div class="form-group">
        <label for="FirstNameFreeTextContent">Further information about your first name</label>
        <textarea class="form-control" id="FirstNameFreeTextContent" rows="3" name="FirstNameFreeTextContent" placeholder="e.g. are you named after a famous person? Does your name have origins in a particular language or tradition? What does it mean?" required></textarea>
      </div>
      <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="string" class="form-control" id="LastName" name="LastName" placeholder="Enter your last name here">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name Pronunciation</label>
        <input type="string" class="form-control" id="LastNamePronounciation" name="LastNamePronounciation" placeholder="e.g. mon-ro">
      </div>
      <div class="form-group">
        <label for="LastNameRecording">Upload a recording of you saying your last name here (optional)</label>
        <input type="file" class="form-control-file" id="LastNameRecording" name="LastNameRecording">
      </div>
      <div class="form-group">
        <label for="LastNameFreeTextContent">Further information about your last name</label>
        <textarea class="form-control" id="LastNameFreeTextContent" rows="3" name="LastNameFreeTextContent"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="ConsentUnderStand">
        <label class="form-check-label" for="ConsentUnderStand" name="ConsentUnderStand" required>I understand that my data will be stored locally.</label>
      </div>
      <button type="submit" id="submit-button-for-form" class="btn btn-primary">Submit</button>
    </form>
    <!-- Footer -->

  <footer class="w3-container w3-medium w3-padding-20 w3-center w3-gray w3-xlarge">

  Social media</a>
  <button type="button">+</button> <button type="button">-</button> 
  Dark mode</a><button type="button">Y/N</button>
</footer>


</div>
</body>

</html>