<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Input</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
  <body>
    <!-- header and nav bar -->    
    <div id="header"><h1 class="header">Nomi</h1>
      <h7><i>get my name right</i></h7>
      <br>
      <nav>
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
          <li class="current-page">
              <a href="/about">About</a>
          </li>
      </ul>
      </nav>
    </div>
    <!-- end of header and nav bar --> 
<div>
    <!-- form-->
<div><p>Use the form below to submit information about your name.</p></div>
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">First Name Pronunciation</label>
        <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload an image here</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload a recording here</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Further information about your first name</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name</label>
        <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name Pronunciation</label>
        <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload an image here</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload a recording here</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Further information about your last name</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I understand that my data will be stored locally.</label>
      </div>
    </form>
    <!-- Footer -->
  </div>
  
  <footer class="w3-container w3-padding-20 w3-center w3-gray w3-xlarge">
<footer class="w3-medium">
  Social media</a>
  <button type="button">+</button> <button type="button">-</button> 
  Dark mode</a><button type="button">Y/N</button>
</footer>

</body>
</html></body>
</html>