<!DOCTYPE html>
<html>
  <head>
    <!-- title: CHANGE ME -->
    <title>Get My Name Right</title>
        
    <!-- stylesheets -->    
    <link rel="stylesheet" href="../static/css/name_app_stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">

    <!-- meta -->
    <meta name="author" content="Isabel Scavetta, Mio Chung, Sumayia Ashraf, Teodora Toma, Maggie Hunt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An app to promote and celebrate diversity: share how your name shoupd be pronounced, its history and origins.">
    <meta name="keywords" content="python,HTML,CSS,javascript,name,API,etymology,heritage,origins,diversity,inclusion">
    
</head>
<body>
<body>
        <img src="/static/images/widget_img.png" style="margin:0; padding:0; display:block; float:left; width:11em;">
        <h1 style="padding:0 0 0 10em; margin: 0; font-size:15pt; color: #005D5F;">{{NickName}}</h1>
        <h2 style="padding:0 0 0 15.1em; margin: 0; font-size:10pt; color: #007A7C; display:block; text-align: left;">{{FirstName}} {{LastName}}</h2>
        <p style="color:#007A7C; font-size:8pt; padding:0 0 0 18.8em; margin:0;">-{{Gender}}</p>
        <audio id="recordedAudio3">
            <source src="{{ Audio }}" type="audio/ogg">
        </audio>
        <img src="/static/images/play-icon-vector.jpg" style="margin:0; padding:0 0 0 1.5em; display:block; width:3.5em;" onclick="playAudio()">
    </body>

    <script>
        var recordedAudio3 = document.getElementById('recordedAudio3');
        function playAudio() { recordedAudio3.play(); }
    </script>
</body>
</html>